<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Main Page</title>
</head>
<body>
	<div>
		<h1><a href="/">Main Page</a></h1> <hr/>
		<div th:if="${loginId == null}">
			<h3>[[${loginId}]] 로그인 되어있지 않습니다.</h3>
			<button th:onclick="|location.href='@{/member/join}'|">회원가입</button> <br/><br/>
			<button th:onclick="|location.href='@{/member/login}'|">로그인</button>
		</div>
		<div th:unless="${loginId == null}">
			<h3>[[${loginId}]]님 환영합니다!</h3>
			<button th:onclick="|location.href='@{member/info}'|">나의 정보</button> <br/><br/>
			<button th:onclick="|location.href='@{member/admin}'|">관리자 페이지</button> <br/><br/>
			<button th:onclick="|location.href='@{member/logout}'|">로그아웃</button>
		</div>
	</div>
</body>
</html>