<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Login Page</title>
</head>
<body>
<div>
    <h1><a href="/">홈으로</a></h1> <hr/>
    <h2>로그인</h2>
    <form method="post" action="./login">
        <div>
            아이디 :
            <input type="text" name="loginId"/>
        </div>
        <br/>
        <div>
            비밀번호 :
            <input type="password" name="password"/>
        </div>
        <br/>
        <button type="submit">로그인</button>
        <button type="button" th:onclick="|location.href='@{/member/join}'|">회원 가입</button> <br/><br/>
    </form>
</div>
</body>
</html>

<style>
    .error-class {
        color: red;
    }
</style>